*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #bfc6c5;
}
.menu{
    margin-bottom: 10px;
    padding: 10px 0;
    color: white;
    font-size: 32px;
    width: 100%;
    text-align: center;
    background-color:  rgb(8, 37, 50);
    margin-bottom: 20px;
}
canvas{
    margin-top: 100px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.btn{
    font-size: 23px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}
.btn:hover{
    font-size: 28px;
    transition-timing-function: ease-in;
    transition-delay: 100ms;
}
